
body {
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #eaecf5;
}

table {
    margin: 4px;
    list-style: none;
    background-color: #c4d3e2;
}

h1 {
    color: #313334;
    text-align: left;
    margin-top: 20px;
}

h4 {
    color: #313334;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    color: #313334;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

tr {
    font-family: verdana;
    margin: 3px;
    font-size: 16px;
    color: rgba(38, 41, 43, 0.85);
}

td {
    font-family: verdana;
    font-size: 13px;
    width: auto;
    color: rgba(49, 51, 52, 0.85);
}

td.navigation {
    border-bottom: solid 2px;
    border-color: #eaecf5;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

div.annonce {
    border: solid 2px;
    background-color: #c4d3e2;
    border-color: #eaecf5;
}

input.annonceurl {
    width: 600px;
}

.error {
    color: red;
    font-size: 0.9em;
    font-weight: bold;
}